div{
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block; /*block, inline, none*/
    visibility: hidden; /* can be use to control the visibility */
}

span{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    display: inline-block;
}