#box1{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position: sticky;
    /* position: relative; */
    /* position: fixed;
    top: 0px;
    left: 0px; */

    /* position: relative;
    top: 100px;
    left: 100px; */
}

#box2{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    position: static;
    /* position: absolute; */
    top:50px;
    left: 50px;
}